{%load static%}

<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="shortcut icon" href="{% static 'img/favicon.png'%}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap">
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    </head>

    <body>
      
        <div style="display:flex; justify-content:center; padding: 100px; flex-direction: column; align-items: center;">
            
            <div class="col-md-5">
                <div class="booking-box">
                    <div class="head-box">
                        <h6>Luxevista</h6>
                        <h4>Login</h4>
                    </div>
                    <div class="booking-inner clearfix">
                        <form action="" class="form1 clearfix" method="POST">
                        {% csrf_token %}

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label class=""> Email </label>
                                        <div class="input1_inner">
                                            <input type="email" name="email" placeholder="Enter your mail id" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label class=""> Password </label>
                                        <div class="input1_inner">
                                            <input type="password" name="password" placeholder="Password" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn-form1-submit mt-15" ><a href='registration2.html'>Login</a></button>
                                </div>
                                <div class="col-md-12">
                                    <br>
                                    <a href='{% url 'register_customer' %}'>Don't Have an Account? Register</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    {%if messages%}
            <ul style="padding : 0; color: #AA8453">
            {% for message in messages %}
            <span>
                <li style="display : inline;">{{message}}</li>
            </span>
            &nbsp;
            {%endfor%}
            </ul>
            {% endif %}
                </div>
            </div>
        </div>
    </body>

</html>