{% comment %} {%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{%static 'styles/style.css'%}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="POST">
      {%csrf_token%} 
      {%for field in form %}
        <div>
          <label class=""> {{field.label}} </label>
          {{field.errors}} 
          
          {{field}}
        </div>
      {%endfor%}



      <button>
        OK
      </button>
    </form>
  </body>
</html> {% endcomment %}

{%load static%}
<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="shortcut icon" href="{%static 'img/favicon.png' %}"/>
       
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap">
        <link rel="stylesheet" href="{%static 'css/plugins.css' %}"/>
        <link rel="stylesheet" href="{%static 'css/style.css' %}" />
        <link rel="icon" href="{%static 'images/images.png'%}"/>
   
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registration</title>
    </head>

    <body>
        <div style="display:flex; justify-content: center; padding: 10px;">
            <div class="col-md-5">
                <div class="booking-box">
                    <div class="head-box">
                        <h6>HOTEL REGISTRATION</h6>
                        <h4>Create Account</h4>
                    </div>
                    <div class="booking-inner clearfix">
                        <form action="" class="form1 clearfix" method="POST">
                            {%csrf_token%}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label  for="{{form.name.id_for_label}}" class=""> Name </label>
                                        <div class="input1_inner">
                                            {{form.name}}
                                            {% comment %} <input type="text" name="name" maxlength="100" required id="id_name" placeholder="Enter Your Name"> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label  for="{{ form.email.id_for_label }}" class=""> Email </label>
                                        <div class="input1_inner">
                                           {{form.email}}
                                            {% comment %} <input type="email" name="email" maxlength="200" autofocus required aria-describedby="id_email_helptext" id="id_email" placeholder="Enter Your Mail"> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label for="{{ form.password1.id_for_label }}"  class=""> Password </label>
                                        <div class="input1_inner">
                                            {{form.password1}}
                                            {% comment %} <input type="password" name="password1" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1" placeholder="Enter Your Password"> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input1_wrapper">
                                        <label for="{{ form.password2.id_for_label }}" class="">Confirm Password</label>
                                        <div class="input1_inner">
                                          {{form.password2}}
                                            {% comment %} <input type="password" name="password2" autocomplete="new-password" required aria-describedby="id_password2_helptext" id="id_password2" placeholder="Confirm Your Password"> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn-form1-submit mt-15" >Next</button>
                                </div>
                                <div class="col-md-12">
                                <br>
                                    <a href="{% url 'login'%}"> Have an Account? Login</a>    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>


